<div class="app-container">
  <nav class="navbar navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" routerLink="/">Employee Management</a>
    <div *ngIf="isLogin" class="right-section">
      <span class="username mr-3 font-weight-bold text-white">
        {{ username }}
      </span>
      <button (click)="logout()" class="btn btn-sm btn-danger">Logout</button>
    </div>
  </nav>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

<app-toast></app-toast>
